<a href="javascript:;" class="btn btn-sm btn-label-primary">Botón desde A</a>

<br><br>

<button
              class="btn btn-primary btn-toggle-sidebar"
              data-bs-toggle="offcanvas"
              data-bs-target="#addEventSidebar"
              aria-controls="addEventSidebar">
              <i class="bx bx-plus me-1"></i>
              <span class="align-middle">Realizar Reserva</span>
            </button>

            <br><br>

<h5 _ngcontent-ng-c351816107="" class="card-title text-primary">Congratulations John! 🎉</h5>

<br><br>

<p>
    <span>Texto libre</span> <span class="text-primary"> y este de color</span>
</p>